/*
//       _/_/_/  _/          _/_/    _/_/_/      _/_/    _/
//    _/        _/        _/    _/  _/    _/  _/    _/  _/
//   _/  _/_/  _/        _/    _/  _/_/_/    _/_/_/_/  _/
//  _/    _/  _/        _/    _/  _/    _/  _/    _/  _/
//   _/_/_/  _/_/_/_/    _/_/    _/_/_/    _/    _/  _/_/_/_/
*/

@import "includes/mixins";

/* ==========================================================================
   Links, Headings, Paragraphs, HR's & Lists
   ========================================================================== */
html,body {
    position: fixed;
    height: 100%;
    width: 100%;
}

a { @include transition; text-decoration: none; outline: none; }

h1, h2, h3, h4, h5 { @include head; padding: 10px 0; clear: none; }
h1 { font-family: "Unica One"; @include font-size(3.7,4.7); font-weight: 700; }
h1 i { @include font-size(2.6,4.7); }
h2 { @include font-size(2.5,3.5); }
h3 { @include font-size(2,3); }
h4 { @include font-size(1.8,2); }
p { @include font-size(1.6,2.6); padding: 10px 0; }
hr { width: auto; height: 1px; background: rgba(0,0,0,0.2); border: 0; margin: 15px 0; }
ul, ol, li { @include plain; }

/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  @include transition; display: inline-block; @include boop; @include cursor; @include body; font-weight: bold; @include space_letters; text-transform: uppercase; color: #fff; background: $dark; border: 2px solid $highlight; padding: 7px 14px; @include font-size(1.4,1.6); border-radius: 7px;
  &:hover, &:focus { background: $highlight; color: #fff; }
  &.i-right {
    i { @include font-size(1.4,1.6); margin-left: 5px; position: relative; top: 1px; }
  }
  &.i-left {
    i { @include font-size(1.4,1.6); margin-right: 5px; position: relative; top: 1px; }
  }
  &.green {
    border-color: $selected;
    &:hover, &:focus { background: $selected; }
  }
  &.clear {
    background: transparent; color: #fff; opacity: 1; @include font-size(1.6); padding: 3px 2px 3px 3px; border-radius: 7px; border: 2px solid $highlight;
    &.hide { opacity: 0; }
    &:active { margin-top: 1px; }
  }
}

/* ==========================================================================
   Miscellaneous
   ========================================================================== */

.widget-head {
  background: $dark; color: #fff; padding: 0 15px; border-radius: 7px 7px 0 0; position: relative;
}
.widget-body {
  border-radius: 0 0 7px 7px; position: relative;
}

header h1 a {
  color: white;
}
