@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-mt49rf');
	src:url('fonts/icomoon.eot?#iefix-mt49rf') format('embedded-opentype'),
		url('fonts/icomoon.woff2?-mt49rf') format('woff2'),
		url('fonts/icomoon.ttf?-mt49rf') format('truetype'),
		url('fonts/icomoon.woff?-mt49rf') format('woff'),
		url('fonts/icomoon.svg?-mt49rf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-songs:before {
	content: "\e94a";
}
.icon-albums:before {
	content: "\e950";
}
.icon-artists:before {
	content: "\e98f";
}
.icon-search:before {
	content: "\eb33";
}
.icon-smile:before {
	content: "\ecff";
}
.icon-plus:before {
	content: "\ed5a";
}
.icon-blocked:before {
	content: "\ed64";
}
.icon-cross:before {
	content: "\ed6a";
}
.icon-check:before {
	content: "\ed6f";
}
.icon-play:before {
	content: "\ed82";
}
.icon-skip:before {
	content: "\ed8a";
}
.icon-next:before {
	content: "\edb9";
}
.icon-arrow-up:before {
	content: "\edd9";
}
.icon-arrow-right:before {
	content: "\eddb";
}
.icon-arrow-down:before {
	content: "\eddd";
}
