/*
//      _/      _/    _/_/    _/_/_/  _/      _/
//     _/_/  _/_/  _/    _/    _/    _/_/    _/
//    _/  _/  _/  _/_/_/_/    _/    _/  _/  _/
//   _/      _/  _/    _/    _/    _/    _/_/
//  _/      _/  _/    _/  _/_/_/  _/      _/
*/

@import "includes/mixins";

/* ==========================================================================
   Body & Wrapper
   ========================================================================== */

* { @include font-size(1.6,2.2); }

body {
	margin: 0 auto; text-align: left; max-width: 100vw; max-height: 100vh; @include body; background: $dark; color: #fff; -webkit-font-smoothing: antialiased; overflow: hidden;

	&:before { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.9); padding: 50px; @include font-size(2,2.8); color: #0f0; z-index: 1000; text-align: left; }
}

/* ==========================================================================
   Header
   ========================================================================== */

header.app-header {
  padding: 5px 20px; position: fixed; top: 0; left: 0; right: 0; height: $header-height; background: $dark; z-index: 101;
  h1 { padding: 5px 0; }
  .btn { float: right; margin-top: 7px; }
  .search-box {
    position: absolute; top: 12px; right: 20px; left: 160px;
    input {
      -webkit-appearance: none; width: 100%; background: #292929; color: #fff; @include font-size(2); border: 2px solid #292929; border-radius: 7px; padding: 5px 12px; outline: none; @include transition; @include body_b; line-height: normal;
      @include placeholder { @include body_i; color: #666; }
    }
    a.clear {
      @include cursor; @include align(vertical); right: 9px; margin: 0; float: none; z-index: 1;
    }
  }
}

/* ==========================================================================
   Main
   ========================================================================== */

main.app-main {
  padding: 30px 20px; overflow: hidden;
  .bg-texture { position: absolute; top: -50%; left: 0; width: 200%; -webkit-filter: blur(80px); -webkit-transform: translate3d(0, 0, 0); }
  /*@include linear-gradient(315deg, #FD5C8E 0%, #FBAD8A 50%, #FBFD89 100%, $fallback: #FBAD8A);*/
  /*background: url('../img/bg/body.jpg'); background-attachment: fixed; background-size: cover;*/

  &.with-header {
     margin-top: 65px; height: calc(100vh - #{$header-height});
  }
  &.with-footer {
    margin-bottom: 65px; height: calc(100vh - #{$footer-height});
  }
  &.with-header.with-footer {
    margin: 65px 0; height: calc(100vh - #{$header-height} - #{$footer-height});
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer.app-footer {
  padding: 5px 20px; position: fixed; bottom: 0; left: 0; right: 0; height: $footer-height; background: $dark; z-index: 101; @include container;
  .now-playing {
    @include span(6); padding-left: 68px; position: relative;
    img { width: 54px; height: 54px; position: absolute; top: 8px; left: 0; }
    h4 { padding: 13px 0 5px; }
    .artist { @include font-size(1.4,1.8); color: #999; &:after { content: ' - '; } }
    .song { @include font-size(1.4,1.8); color: #999; }
  }
  .app-actions {
    @include span(6 last); text-align: right; padding: 10px 0;
    .btn.cancel {
      border-color: #666; color: #666; padding: 8px 13px; margin-right: 20px;
      &:hover, &:focus { border-color: #fff; color: #fff; background-color: transparent !important; }
    }
    .btn.playNow {
      border-color: #666; color: white; padding: 8px 13px; margin-right: 20px;
      &:hover, &:focus { border-color: #fff; color: #fff; background-color: transparent !important; }
      &.disabled { color: #666; }
    }
    .btn.queue {
      padding: 12px 17px; @include font-size(1.6);
      &.disabled { border-color: #666; color: #666; background-color: transparent !important; }
    }
  }
}

.admin-home {
  width: 1024px;

  .widget-head {
    .panic {
      float: right;
    }
  }

  ul {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 7px 7px;

    li {
      position: relative;

      a {
        display: block;
        padding: 12px 20px;
        font-size: 2.3rem;
        line-height: 3.3rem;
        color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &:hover, &:focus { background: $highlight; border-bottom-color: $highlight; }
      }
      .btn {
        float: right;
        font-size: 1.3rem;
        line-height: 1rem;
      }
      &:last-child a {
        color: $selected;
      }
    }
  }

  ul.tab-content.songs {
    li {
      &:after {
        content: ' ';
        clear: both;
        display: block;
      }
    }
  }
}

.loader {
  @include align(both);
}
