/*
    _/_/_/      _/_/      _/_/_/  _/_/_/_/    _/_/_/
   _/    _/  _/    _/  _/        _/        _/
  _/_/_/    _/_/_/_/  _/  _/_/  _/_/_/      _/_/
 _/        _/    _/  _/    _/  _/              _/
_/        _/    _/    _/_/_/  _/_/_/_/  _/_/_/
*/

@import "includes/mixins";

/**** BROWSE PAGE ****/

section.pick-songs {
  padding: 0 2.5%; position: relative; z-index: 1;
  ul.tabs {
    @include cf; border-bottom: 10px solid $dark;
    li {
      float: left; width: 33%;
      a {
        display: block; color: #fff; padding: 10px 22px; border-right: 1px solid rgba(0,0,0,0.2); background: rgba(0,0,0,0.5); position: relative;
        .tab-icon { float: left; @include font-size(3,4); margin: 4px 17px 0 0; opacity: .5; }
        .tab-main { @include head; @include font-size(2.5,3); @include transition; }
        .tab-meta { display: block; @include font-size(1.3,2); color: rgba(255,255,255,0.6); @include transition; width: 70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
        .btn.clear { opacity: 0; @include align(vertical); right: 15px; }
        &:hover, &:focus {
          background: $highlight;
          .tab-meta { color: #fff; }
        }
      }
      &.active a {
        background-color: $dark;
        .tab-meta { color: rgba(255,255,255,0.6); }
      }
      &.selected a {
        .btn.clear { opacity: 1; }
        .tab-meta { color: #fff; @include body_bi; }
        &:hover, &:focus {
          background: $highlight;
          .btn.clear { border-color: #fff; }
          .tab-meta { color: #fff; }
        }
      }
      &:first-of-type a { border-top-left-radius: 7px; }
      &:last-of-type { width: 34%; }
      &:last-of-type a { border-top-right-radius: 7px; border-right: 0; }
    }
  }
  ul.tab-content {
    height: calc(100vh - (#{$header-height} + #{$footer-height} + 140px));
    // header height + footer height + tab height + tab border + main padding
    background: rgba(0,0,0,0.5); border-radius: 0 0 7px 7px; overflow: scroll;
    &.artists {
      li {
        position: relative;
        a {
          display: block; padding: 12px 20px; @include font-size(2.3,3.3); color: #fff; border-bottom: 1px solid rgba(0,0,0,.2);
          &:hover, &:focus { background: $highlight; border-bottom-color: $highlight; }
          i.icon-next { @include align(vertical); right: 20px; @include font-size(2); opacity: .7; }
        }
        &:last-of-type a { border-bottom: 0; }
      }
    }
    &.albums {
      @include container; padding: 15px;
      li {
        position: relative;
        @include gallery(3); padding: 15px 2.5%;
        img { border-radius: 7px; }
        .queueAll { position: absolute; top: 20px; right: 11%; border-color: $selected; color: $selected; font-size: 1.5em; }
        .album { display: block; @include font-size(1.5,2); @include body_b; color: #fff; padding: 5px 3px 3px; }
        .artist { display: block; @include font-size(1.3,2); color: rgba(255,255,255,0.6); padding: 0 3px; }
      }
    }
    &.songs {
      li {
        position: relative;
        &.header-row,
        a {
          @include container; display: block; padding: 12px 0; @include font-size(1.5,2.2); color: #fff; border-bottom: 1px solid rgba(0,0,0,.2);
          &:hover, &:focus { background: $highlight; color: #fff !important; border-bottom-color: $highlight; }
          .song { @include span(5); padding-left: 20px; }
          .time { @include span(1); }
          .artist { @include span(2); }
          .album { @include span(4); padding-right: 50px; }
          i.icon-plus,
          i.icon-check { @include align(vertical); right: 20px; @include font-size(2); opacity: .7; @include transition; }
          i.icon-check { opacity: 0; color: black; }
        }
        &.header-row {
          background: rgba(0,0,0,0.5) !important; color: rgba(255,255,255,0.7) !important; @include font-size(1.5,1.8); @include head; padding-top: 8px; padding-bottom: 5px; border-bottom: 0;
        }
        &.selected {
          a {
            @include body_bi; color: black; background: $selected; border-bottom: 1px solid rgba(0,0,0,0.2) !important;
            i.icon-plus { opacity: 0; }
            i.icon-check { opacity: 1; }
          }
        }
        &:last-of-type a { border-bottom: 0; }
      }
    }
  }
}
