/*
    _/_/_/      _/_/      _/_/_/  _/_/_/_/    _/_/_/
   _/    _/  _/    _/  _/        _/        _/
  _/_/_/    _/_/_/_/  _/  _/_/  _/_/_/      _/_/
 _/        _/    _/  _/    _/  _/              _/
_/        _/    _/    _/_/_/  _/_/_/_/  _/_/_/
*/

@import "includes/mixins";

/**** HOME PAGE ****/

.btn.gray {
  border-color: #999;
  color: white;
  background-color: #333;
}

.app-main#home {
  @include container; position: relative;

  .now-playing {
    @include span(7);
    .widget { max-width: 700px; height: 82vh; border-radius: 7px; overflow: hidden; position: relative;  /*box-shadow: 0 1px 25px rgba(255,255,255,0.4);*/ }
    .widget-head {
      border-bottom: 1px solid rgba(255,255,255,0.2); z-index: 20;
    }
    .widget-body {
      width: 100%; @include cf; overflow: hidden; position: absolute; top: 55px; left: 0; right: 0; bottom: 0;
      .art { float: left; width: 100%; height: auto; }
      .info {
        position: absolute; left: 0; right: 0; bottom: 0; z-index: 1; overflow: hidden; border-radius: 0 0 7px 7px; background: $dark;
        .bg {
          position: absolute; left: 0; right: 0; bottom: 0; width: 100%; height: auto; @include filter(blur(20px) brightness(1.6)); opacity: .7;
        }
        .progress {
          position: relative; padding: 20px 65px; position: relative;
          .time-current,
          .time-total { @include font-size(1.5,1.8); color: #fff; position: absolute; top: 50%; margin-top: -10px; }
          .time-current { left: 15px; }
          .time-total { right: 15px; }
          .bar {
            display: block; width: 100%; height: 10px; background: rgba(0,0,0,0.5); border-radius: 10px; position: relative;
            .inner { position: absolute; top: 0; left: 0; bottom: 0; border-radius: 10px 0 0 10px; background: $highlight; box-shadow: 0 -1px 0 rgba(0,0,0,0.5) inset; @include transition; }
          }
        }
        .meta {
          position: relative; padding: 10px 15px 20px; background: $dark; border-radius: 0 0 7px 7px;
          .song { @include font-size(2.8,4); @include body_b; }
          .artist { display: block; padding-top: 4px; @include font-size(1.8,2); color: rgba(255,255,255,0.5); }
        }
      }
    }
  }

  .upcoming-queue {
    @include span(5 last);
    .widget {
      height: 82vh; position: relative;
      .widget-head {
        .right {
          float: right;
        }
        .btn {
          padding: 4px 10px;
          line-height: 0;
        }
      }
      .widget-body {
        position: absolute; top: 50px; left: 0; right: 0; bottom: 0; color: $dark; overflow: scroll; border-radius: 0 0 7px 7px; background: rgba(0,0,0,0.2);
        ul li {
          padding: 15px 15px 15px 70px; @include cf; position: relative; border-bottom: 1px solid rgba(0,0,0,0.15);
          img { position: absolute; top: 15px; left: 15px; width: 42px; height: 42px; }
          .meta {
            .song { display: block; @include font-size(1.6,2); color: #fff; @include body_b; padding: 0 0 2px; }
            .artist { display: block; @include font-size(1.3,2); color: rgba(255,255,255,0.7); }
          }
          .admin {
            margin-bottom: -0.5em;
            margin-top: 0.4em;

            .btn {
              margin-right: 1em;
              padding: 4px 28px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
          &:last-of-type { border-bottom: 0; }
        }
      }
    }
  }
}
